.x-label-error
{
    color: red;
    font: normal 15px helvetica !important;
}

.x-button-label
{
    font: normal helvetica !important;
}

.google-button-active
{
    background-image: url(images/btn_google_signin_dark_normal_web.png);
    background-color: Transparent;
    border: none;
}

.google-button-pressed
{
    background-image: url(images/btn_google_signin_dark_pressed_web.png);
    background-color: Transparent;
}

.menu-button
{
    background: transparent !important;
    border: none !important;
    border-bottom: 2px solid white !important;
    border-radius: 0px !important;
}

.profile-icon
{
    width: 53px !important;
    height: 53px !important;
}

.menu-label
{
    font: normal 22px helvetica !important;
    color: white !important;
    padding-left: 15px;
}

.calendar-panel
{
    background-color: transparent !important;
    border: none !important;
}


